table.tablas{
    border-collapse: separate;
    border: 2px rgb(0, 235, 252) solid;
    box-shadow:-4px -4px 1px#8a8a8a inset;
}

table.tabla{
    border-collapse: collapse;
    border: 2px rgb(0, 235, 252) transparent;
}

.tabla, th{
    background-color:  #003333;
    color:  #ccffcc;
    border: 2px rgb(0, 235, 252) solid;

}
.tabla, td{
    background-color:  #8a8a8a;
    border: 2px rgb(0, 235, 252) transparent;
    color: black;
}
.tabla, td.otro{
    background-color:  #ccffcc;
    border: 2px rgb(0, 235, 252) solid;
    color: black;
    text-align: center;
}
.tabla, td.delante{
    background-color:  #ccffcc;
    border: 2px rgb(0, 235, 252) solid;
    color: black;
    text-align: left;
}
td.media{
    background-color:  #00d420;
    border: 2px rgb(0, 235, 252) solid;
    text-align: center;
}
td.delante-media{
    background-color:  #00d420;
    border: 2px rgb(0, 235, 252) solid;
    text-align: left;
}

div.medio{
    color: #003333;
}