body{
    background-color: orange;
}

table {
    width: 100%;
    background-image: url("../imagen/images.jpg");
    border: 2px gray solid;
    border-collapse: separate;
    box-shadow: 3px 3px 5px#8a8a8a;
}

th{
    background-color: rgb(40, 229, 40);
    color: rgb(170, 36, 36);
    border: 2px gray solid;
}
td.row1{
    background-color: rgb(246, 185, 115);
    text-align: center;
    border: 2px gray solid;
    color: rgb(170, 36, 36);
}
td.row2{
    background-color: rgb(252, 255, 61);
    text-align: center;
    border: 2px gray solid;
    color: rgb(170, 36, 36);
}
td.row3{
    text-align: center;
    border: 2px gray solid;
    color: rgb(170, 36, 36);
}